{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <div class="post">
      <h2><a href="{% url 'post_detail_slug' slug=post.slug %}">{{ post.title }}</a></h2>
      <div class="date">
        <p>{{ post.published_date }}</p>
      </div>
      <p>{{ post.text|truncatechars:300}}</p>
      {% if post.approved_comments.count %}
        <a href="{% url 'post_detail_slug' slug=post.slug %}" style=float:right;>Comments: {{ post.approved_comments.count }}</a>
      {% endif %}
    </div>
  {% endfor %}
  {% if posts.has_other_pages %}
    <div class="pagination">
      {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">&laquo; Trang trước</a>
      {% endif %}
      {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Trang sau &raquo;</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
